/*new login*/
html{color:#333;background:#fff;line-height:24px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0;font-family:\5FAE\8F6F\96C5\9ED1,arial;font-size:14px;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img,a{border:0}
img{vertical-align:top;}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}
del,ins{text-decoration:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
em,i{font-style:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline}
sub{vertical-align:baseline}
legend{color:#000}
.clearfix:after{content: '\0020'; display:block;height:0;clear:both;visibility:hidden;}
*html .clearfix{zoom:1;}
.clearfix{*overflow:hidden;}
a{cursor:pointer;}
a:link{text-decoration:none;}
a:hover{text-decoration:none;color:#ff5252!important;}
a:focus,input,textarea,select{-moz-outline:none;outline:none}
a:visited{text-decoration:none;color:#333;}

.lgico1,.lgico2,.lgico3,#js_toggleRememberMe em,.lg-error{background:url(../images/lgIco.png) no-repeat;}
.content{background:url(../images/lgBg.jpg) no-repeat center top;height:850px;position:relative;}
.lgFrame{position:absolute;background:url(../images/bgFrame.png) no-repeat;width:397px;padding-left:63px;height:641px;top:0;left:50%;margin-left:-230px;}
.formDl{padding-top:296px;width:334px;}
.formDl dd{margin-bottom:12px;position:relative;background:url(../images/lgBtn.png) no-repeat;width:330px;height:52px;padding:2px 5px;}
dd.lgHold{background-position:0 -66px;}
.formDl dd input{border:0;height:52px;line-height:52px;color:#555;float:left;width:260px;font-size:16px;vertical-align:middle;}
.lgico1,.lgico2,.lgico3{float:left;height:52px;width:60px;vertical-align:middle;}
.lgico1{background-position:0 0;}
.lgico2{background-position:0 -67px;}
.lgico3{background-position:0 -134px;}

.lh22{line-height:22px;font-size:16px;}
#js_toggleRememberMe{margin-right:22px;display:inline-block;color:#aaa;cursor:pointer;}
#js_toggleRememberMe em{background-position:0 -201px;display:inline-block;width:22px;height:22px;margin-right:3px;vertical-align:middle;}
#js_toggleRememberMe em.choose{background-position:0 -238px;}
.lg-error{display:none;background-position:0 -274px;padding-left:24px;color:#f26161;}
#js_btnLogin:hover {background-position: 0 -195px;}
#js_btnLogin{background: url(../images/lgBtn.png) no-repeat 0 -132px;width: 334px;height: 54px;line-height: 50px;border: 0;color: #fff;font-size: 20px;margin-top: 20px;cursor: pointer;}


.footer{line-height:30px;color:#888;text-align:center;font-size:15px;padding:10px 0 20px;}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* error page */
.svError {text-align: center;width: 1090px;margin: 0 auto;color: #d8d8d8;padding: 50px 0}
